@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: 230, 192, 104;
  --color-night: 15, 15, 15;
  --color-coyote: 124, 99, 84;
  --color-ghost-white: 232, 235, 247;

  --foreground-rgb: var(--color-night);
  --background-start-rgb: 200, 200, 200; /* Lighter start color */
  --background-end-rgb: 240, 240, 240; /* Darker end color */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh; /* Ensure the gradient covers the full viewport height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}